/* Global Styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
     
    background-color:transparent;/* Added a slightly darker background for better readability */
    z-index: 1000;
    margin-right: 40px; /* Ensures the navbar stays on top of other elements */
}
.mg{
    margin-right: 40px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

header {
    background-image: url('https://res.cloudinary.com/dsqzwswp7/image/upload/v1725440284/bg_p1_tx82el.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


nav h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

section {
    padding: 50px 20px;
    text-align: center;
    background-color: goldenrod;
}

#menu .menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: goldenrod;
}

#menu .item {
    width: 30%;
}

#menu .item img {
    width: 100%;
    border-radius: 5px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

#contact form input, #contact form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact form button {
    background-color: #ff7f50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
